<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>FinanceApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ahmedalrubaye.financeapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
				<string>financeapp</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ahmedalkubaisy.finance.add-expense</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Expense</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Log spending quickly</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>myapp://add-expense</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ahmedalkubaisy.finance.add-income</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Income</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Deposit or earnings</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>myapp://add-income</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ahmedalkubaisy.finance.plans-dashboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Plans Overview</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>View target progress</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeBookmark</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>myapp://plans</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
